@font-face {
    font-family: 'Lobster', cursive;
    src: url([https://fonts.googleapis.com/css2?family=Lobster&display=swap]);
}

h1 {
    font-family: Lobster;
}

.tranquilidade {
    color: aqua;
}

.paisagens {
    color: green;
}

.entrada {
    color: darkolivegreen;
}